@import "tailwindcss";

@theme {
  --color-primary: #132440;
  --color-primary-dark: #16476A;
  
  --color-secondary: #7c3aed;
  --color-secondary-dark: #6d28d9;
  
  --color-accent: #00aaff;
  --color-accent-dark: #06b6d4;

  --color-glass-surface: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-glass-highlight: rgba(255, 255, 255, 0.2);

  /* Config Font */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'Fira Code', monospace;
}

@layer base {
  body {
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: var(--font-sans);
  }
}